body {
    font-family: Lucida Console;
    background-color: rgb(212, 106, 52);
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 20px;
}

.h2-color {
    background-color: rgb(120,45,180);
}

.div-color {
    background-color: yellow;
}

.p-color {
    background-color: rgb(102,175,220);
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}