body {
    font-family: Times New Roman;
    background-color: lightblue;
    margin-top: 75px;
    margin-left: 100px;
}

h2 {
    background-color: rgb(120,45,180);
}

div {
    background-color: yellow;
}

p {
    background-color: rgb(102,175,220);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}


