body {
    font-family: Arial;
    background-color: #FFE4B5;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 120%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

